.faq-section {
  position: relative;
  background-color: black;
  padding-bottom: 5em;
}

.faq-header-underline-container {
  position: relative;
}


.faq-header-text {
  color: white;
  font-size: 2.8125rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

@media (min-width: 768px) {
  .faq-header-text {
    color: white;
    font-size: 2.8125rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
  }
}

@media (min-width: 992px) {
  .faq-header-text {
    color: white;
    font-size: 3.75rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
  }
}

@media (min-width: 1200px) {
  .faq-header-text {
    color: white;
    font-size: 4.6875rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
  }
}

.faq-header-text-underline {
  background-color: red;
  position: absolute;
  bottom: 5%;
  left: 7%;
  height: 3px;
  width: 78px;
}

@media (min-width: 768px) {
  .faq-header-text-underline {
    background-color: red;
    position: absolute;
    bottom: 5%;
    left: 4%;
    height: 3px;
    width: 73px;
  }
}

@media (min-width: 992px) {
  .faq-header-text-underline {
    background-color: red;
    position: absolute;
    bottom: 5%;
    left: 4%;
    height: 3px;
    width: 100px;
  }
}

@media (min-width: 1200px) {
  .faq-header-text-underline {
    background-color: red;
    position: absolute;
    bottom: 5%;
    left: 4%;
    height: 3px;
    width: 115px;
  }
}
